<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title>500</title>
</head>
<body>

<!-- 导航 -->
<nav th:replace="_fragments :: menu(0)">
</nav>

<br>
<br>
<br>
<br>

<div class="m-container-small m-padded-tb-massive">
    <div class="ui error message m-padded-tb-huge">
        <div class="container">
            <h2>500</h2>
            <p>对不起，服务器发生错误^_^!</p>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>


<!-- 底部footer -->
<footer th:replace="_fragments :: footer">
</footer>

</body>
</html>